
<header class="header">
    <a href="{{ path('homepage') }}" class="header__icon" id="header__icon"></a>
    <img class="header__img" src={{ asset('images/logo/logo.png') }} alt="profil"/>
    <nav class="header__nav">
        <a href="{{ path('homepage') }}" class="header__nav__link" title="lien interne vers la page d'accueil">accueil</a>
        <a href="{{ path('homepage') }}#profil" class="header__nav__link" title="lien vers la partie profil">profil</a>
        <a href="{{ path('homepage') }}#competence" class="header__nav__link" title="lien vers la partie competence">competences</a>
        <a href="{{ path('homepage') }}#project" class="header__nav__link" title="lien vers la partie réalisation">réalisation</a>
        <a href="{{ path('homepage') }}#contact" class="header__nav__link" title="lien vers la partie contact">contact</a>
        <a href="{{ path('cv_list') }}" class="header__nav__link competence" title="lien interne vers la page cv">cv</a>
    </nav>
</header>